@model IEnumerable<Domain.Entities.HotelNumber>
<div class="w-100 card border-0 p-5">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Danh Sách Phòng Khách Sạn
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body border py-4 ">
        <div class="row pb-4">
            <div class="col-6 offset-6 text-end">
                <a class="btn btn-primary" asp-area="" asp-controller="HotelNumber" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> Thêm mới phòng khách sạn
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Tên khách sạn
                    </th>
                    <th>
                        Số phòng
                    </th>
                    <th>
                        SpecialDetails
                    </th>
                    <th>
                        Chức năng
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Hotel.Name
                        </td>
                        <td>
                            @item.Hotel_Number
                        </td>
                        <td>
                            @item.SpecialDetails
                        </td>

                        <td class="w-100 btn-group p-1" role="group">
                            <a class="btn btn-primary"
                               asp-controller="HotelNumber"
                               asp-action="Update"
                               asp-route-hotel_Number="@item.Hotel_Number">
                                <i class="bi bi-pencil-square"></i> Cập nhật thông tin phòng
                            </a>
                            <a class="btn btn-danger"
                               asp-controller="HotelNumber"
                               asp-action="Delete"
                               asp-route-hotel_Number="@item.Hotel_Number">
                                <i class="bi bi-trash"></i> Xóa
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
